.form__content-container{
    background-color: rgb(32,40,51);
    padding: 4rem;
}

div.search-wrapper, .searchBox{
    color:rgb(197,198,200);
}
.chip{
    background-color: rgb(70,162,159);
}

.icon_cancel{
    color:rgb(143,0,45);
}

.option{
    background-color: rgb(102,132,132);
    color: rgb(197,198,200);
}