.navbar-second{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(44,102,100);
}

.navbar-second__buttons-container{
    display: flex;
    margin: .6rem;
}
.navbar-second__buttons-button{
    background-color: rgb(102,252,240);
    color: rgb(32,41,51);
    border: none;
    border-radius: 5px;
}