.sidebar-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: flex-end;
}

.sidebar-container__links{
    list-style: none;
    display:flex;
    flex-direction: column;
    justify-self: left;
    margin-left:-1.3rem;
    color:rgb(197,198,200);
    font-size: 1.2rem;
}

.sidebar-container__link{
    margin-top: .7rem;
    margin-bottom: .7rem;
    width: 100%;
}
.sidebar-container__link:hover{
    color: rgb(144,146,150);
}
.sidebar-container__link-text{
    width: 100%;
}