.column-container{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    width: 400px;
}

.column-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid black;
    height: 40px;
    width: 100%;
}

.story{
    display: flex;
    justify-content: center;
}