.story-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 105%;
    height: 30px;
    background-color: rgba(172,174,176,1);
}

.story-container__left{
    display: flex;
    flex-direction: row;
    align-content: center;
}


.story-name{
    font-size: .9rem;
    color: rgba(11,13,18,.6);
    align-self: center;
    margin-left: 1rem;
}
.story-button__more{
    margin-left: .5rem;
    border: none;
    background: none;
    color: rgba(11,13,18,.7);
}
.story-container__right{
    display: flex;
    flex-direction: row;
    align-content: center;
}
.story-container__right-button{
    margin-right: .5rem;
    border: none;
    background: rgb(4,220,202);
    color: rgba(11,13,18,.7);
    height:80%;
    align-self: center;
}