/* input {
    padding: 5px;
    margin-left:2px;
}
label {
    margin: 3px ;
}
button {
    height: 1.8rem;
    margin-left: .2rem;
    background-color: #ff7844;
    border-radius: 3px;
    border: none;
} */