.navbar{
    padding: 0.05rem;
    display: flex;
    flex-direction: row;
    background-color: rgb(11,12,15);
}

.navbar__links-auth, .navbar__links{
    list-style: none;
    display: flex;
    justify-content: space-between;
    /* padding: 0.25rem; */
}

.navbar__links-link{
    padding: .1rem;
    font-size: 1.25rem;
    display:flex;
    flex-direction: row;
    align-content:center;
    text-decoration: none;
}

#navbar__links-home{
    text-decoration: none;
    font-size: ;
    color:rgb(197,198,200);
}

#icon__home{
    height:2rem;
}

.navbar__button{
    background-color: rgb(11,12,15);
    padding: .2rem;
    color:rgb(197,198,200);
    border: none;
}